[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
ExecStart=/opt/kafka/bin/zookeeper-server-start /opt/kafka/etc/kafka/zookeeper.properties
ExecStop=/opt/kafka/bin/zookeeper-server-stop
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
